@model StickyNotesApp.Models.Todo

@{
    ViewData["Title"] = "Delete All";
}

<h2>Delete All</h2>

<h3>Are you sure you want to delete all notes?</h3>
<div>
    <form asp-action="DeleteAll">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
