@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Todo: @ViewData["Key"]</h4>
    @foreach (var key in HttpContextAccessor.HttpContext.Session.Keys)
    {
        if (key.Equals(ViewData["Key"]))
        {
            <h4>Description: @HttpContextAccessor.HttpContext.Session.GetString(key)</h4>
        }
    }
    <form asp-action="Delete" asp-route-key="@ViewData["Key"]">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
