@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Notes";
}

<h2>[Guest] My Notes</h2>

<hr />

<form>
    <button type="submit" class="btn btn-primary" asp-action="Create">Add Note</button>
    <button type="submit" class="btn btn-danger" asp-action="DeleteAll">Clear Todos</button>
</form>

<hr />

@*
    Iterate through the session keys and display the Title and Description.
*@
@foreach (var key in HttpContextAccessor.HttpContext.Session.Keys)
{
    <span data-toggle="tooltip" data-placement="top" title="@HttpContextAccessor.HttpContext.Session.GetString(key)">
        <button id="modalButton" type="button" class="btn btn-primary" data-toggle="modal" data-title="@key"
                data-description="@HttpContextAccessor.HttpContext.Session.GetString(key)"
                data-target="#guest-todo-details">
            @key
        </button>
    </span>
    <div class="modal fade" id="guest-todo-details" tabindex="-1" role="dialog" aria-labelledby="todo-details-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="todo-details-label">Todo Details</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="itemTitle"></td>
                                <td id="itemDescription"></td>
                                <td>
                                    <a id="editURI">Edit</a>
                                    <a id="delURI">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            // Enable tooltips.
            $('[data-toggle="tooltip"]').tooltip();

            // Prevent multiple tooltips from showing.
            $('#tooltipId').on('show.bs.tooltip', function () {
                $('.tooltip').not(this).hide();
            });

            // Bind properties for modal.
            $('#guest-todo-details').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var title = button.data('title');
                var description = button.data('description');

                // Console Debug
                console.log(modalButton.dataset);
                console.log(title);
                console.log(description);

                $('#itemTitle').text(title);
                $('#itemDescription').text(description);

                $('#editURI').attr('href', 'Todos/Edit?key=' + title);
                $('#delURI').attr('href', 'Todos/Delete?key=' + title);
            });
        });
    </script>
}