@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Sticky Notes!</h1>
        <p></p>
        @* Button trigger create a note. *@
        <form>
            <button type="submit" class="btn btn-primary btn-lg" asp-controller="Todos" asp-action="Create">Create a Note!</button>
        </form>
    </div>
</div>